/* -------------------- Varibales para los colores del sitio. -------------------- */

:root {
    --clr-main: #f8f4f4;
    --clr-sec: #797575;
    --clr-footer: #d2d2d7;
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-red: #961818;
    --clr-blue: #007BFF;
}

/* -------------------- Fuentes para el sitio. -------------------- */

@font-face {
    font-family: 'sf pro text';
    font-style: normal;
    font-weight: 300;
    src: url(../src/assets/fonts/SF-Pro-Text/SF-Pro-Text-Light.woff2) format('woff2'), url(../src/assets/fonts/SF-Pro-Text/SF-Pro-Text-Light.woff) format('woff'), url(../src/assets/fonts/SF-Pro-Text/SF-Pro-Text-Light.ttf) format('truetype'), url(../src/assets/fonts/SF-Pro-Text/SF-Pro-Text-Light.otf) format('openType');
}

@font-face {
    font-family: 'sf pro display';
    font-style: normal;
    font-weight: 600;
    src: url(../src/assets/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.woff2) format('woff2'), url(../src/assets/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.woff) format('woff'), url(../src/assets/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.ttf) format('truetype'), url(../src/assets/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.otf) format('openType');
}

/* -------------------- Propiedades de tipo reset. -------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sf pro text';
    color: var(--clr-black);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: 62.5%;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

h3,
p {
    font-size: 1.7rem;
}

button {
    color: var(--clr-white);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

/* -------------------- Propiedades del body. -------------------- */

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-main);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    background-color: var(--clr-main);
    width: .7rem;
}

body::-webkit-scrollbar-thumb {
    background-color: #948484;
    border-radius: 3.5rem;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #796a6a;
}

/* -------------------- Propiedades del Header. -------------------- */

header {
    width: 100vw;
    height: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.header_global {
    background-color: #f8f4f49f;
    backdrop-filter: blur(1.5rem);
    -webkit-backdrop-filter: blur(1.5rem);
    position: fixed;
    transition: all .8s ease;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.header_navbar {
    width: 60rem;
    height: 4.4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_navbar li a {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .8);
    transition: all .3s ease;
}

.header_navbar li a:hover {
    color: var(--clr-black);
}

.header_icons {
    width: 9.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo,
.header_icons_search,
.header_icons_bag,
.header_icons_hamburguer {
    width: 3rem;
    height: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo,
.header_icons_search,
.header_icons_bag {
    cursor: pointer;
    fill: rgba(0, 0, 0, .7);
    transition: all .3s ease;
}

.header_logo:hover,
.header_icons_search:hover,
.header_icons_bag:hover {
    fill: var(--clr-black);
}

.header_icons_bag_notification {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 1.4rem;
    height: 1.3rem;
    margin: 1rem 0rem .3rem .9rem;
    background-color: var(--clr-black);
    border-radius: .6rem;
    color: var(--clr-white);
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

/*-------------------- Propiedades del menú hamburguesa. --------------------*/

.header_icons_hamburguer {
    display: none;
}

.menu-icon-container {
    width: 1.6rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-icon {
    position: relative;
    width: 100%;
}

.menu-icon .line-1,
.menu-icon .line-2 {
    position: absolute;
    width: 100%;
    height: .2rem;
    background: black;
    border-radius: 2rem;
    transition-property: transform, top;
    transition-delay: 0ms, 160ms;
    transition-duration: 200ms;
    -webkit-transition-property: transform, top;
    -webkit-transition-delay: 0ms, 160ms;
    -webkit-transition-duration: 200ms;
}

.menu-icon .line-1 {
    top: -4px;
}

.menu-icon .line-2 {
    top: 4px;
}

.menu-icon-container.active .menu-icon .line-1 {
    top: 0;
    transform: rotateZ(45deg);
    transition-property: top, transform;
    transition-delay: 0ms, 160ms;
    transition-duration: 200ms;
    -webkit-transform: rotateZ(45deg);
    -webkit-transition-property: top, transform;
    -webkit-transition-delay: 0ms, 160ms;
    -webkit-transition-duration: 200ms;
}

.menu-icon-container.active .menu-icon .line-2 {
    top: 0;
    transform: rotateZ(-45deg);
    transition-property: top, transform;
    transition-delay: 0ms, 160ms;
    transition-duration: 200ms;
    -webkit-transform: rotateZ(-45deg);
    -webkit-transition-property: top, transform;
    -webkit-transition-delay: 0ms, 160ms;
    -webkit-transition-duration: 200ms;
}

/* -------------------- Propiedades del Main. -------------------- */

main {
    position: relative;
    top: 4.4rem;
}

.main_container {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
}

/* -------------------- Promo fija abajo del header. -------------------- */

.navbar_promos {
    width: 100vw;
    height: 5.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white);
}

.navbar_promos p {
    font-size: 1.4rem;
}

/* -------------------- Título de la tienda. -------------------- */

.shop_home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.shop_home h1,
.shop_home span {
    font-family: 'sf pro display';
    font-size: 4.8rem;
    line-height: 1.08;
    color: var(--clr-black);
}

.shop_home span {
    color: var(--clr-sec);
}